<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/aaa.css') }}"/>

        <title>CI/CD</title>
    {% endblock %}

</head>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

            <span class="fs-4">Rahul</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/git">Git</a></li>
            <li class="nav-item"><a class="nav-link" href="/docker">Docker</a></li>
            <li class="nav-item"><a class="nav-link" href="/python">Python/Flask</a></li>
            <li class="nav-item"><a class="nav-link" href="/cicd">CI/CD</a></li>
            <li class="nav-item"><a class="nav-link active" href="/aaa">AAA</a></li>
            <li class="nav-item"><a class="nav-link" href="/oops">OOPS</a></li>
            <li class="nav-item"><a class="nav-link" href="/solid">SOLID</a></li>
            <li class="nav-item"><a class="nav-link" href="/glos">Glossary</a></li>
        </ul>
    </header>
    <div class="row">

        <div class="col-8">

            <h3>Tutorial for test_calculation_multiplication_instance()</h3><br>

             <div class="row">
                <div class="column">
                    <img src="/static/images/AAA.png" style="width:100%">
                    <p class="center">A</p>
                </div>
            </div><br>

            <h5>Step 1: Arrange</h5><br>
            <p>As we look at Image(A) on line 8, this is used to set up our conditions for the test action.
            Creation of this list lets us define the condition that will be used for (ACT).</p><br>
            <p><font color="cyan">tuple_list = (1, 2)</font> </p><hr>

            <h5>Step 2: Act</h5><br>
            <p>As we look at Image(A) on line 9, this is used to call the Mulitplication function to create the tuple list
            from line 8 and store the returned value in a variable named calculation.</p>
            <p><font color="cyan">calculation = Multiplication.create(tuple_list)</font> </p><hr>

            <h5>Step 3: Assert</h5><br>
            <p>As we look at Image(A) on line 10, this is used to verify if the object(calculation) is an instance or
            a subclass of Multiplication. This will return a boolean value of True or False.</p>
            <p><font color="cyan">assert isinstance(calculation, Multiplication)</font> </p><hr>

        </div>

        <div class="col">


            <div class="d-flex flex-column align-items-stretch flex-shrink-0" style="width: 380px;">

                <h5>A<font color="white">rrange</font>: </h5><br>
                <p>Block of code that sets up the conditions for the test action.</p><hr>
                <h5>A<font color="white">ct</font>:</h5><br>
                <p>The line of code where action is taken on the <strong>System Under Test (SUT)</strong></p><hr>
                <h5>A<font color="white">ssert</font>:</h5><br>
                <p>The block of code that performs the assertions on the state of the
                    <strong>System Under Test (SUT)</strong> after the action (Act).</p><hr><br><br>

                <h3>Why is testing important?</h3>
                <p>AAA along with other methods of testing is vital to ensure your program is up and running without
                    having any issues. The main goal in unit testing is to detect bugs and other inconsistencies of
                    the application in development to ensure that it can catch these problems in the earlier stages
                    before the program is pushed into production. </p>
                <p>
                    AAA testing gives an advantage because it focuses on each test on a single action. It separates the
                    arrangement of the System Under Test (SUT) and the assertions that are made on it after the action
                    (ACT). Another advantage on using AAA is that it is organized and clean meaning that it helps to
                    unify and clarify the structure of tests to help make it more understandable and manageable.
                </p>

            </div>


        </div>
    </div>

</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script>
    //Get the button
    var mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
</body>
</html>