
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/glos.css') }}"/>

        <title>CI/CD</title>
    {% endblock %}

</head>
<body>
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

        <span class="fs-4">Rahul</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/git">Git</a></li>
          <li class="nav-item"><a class="nav-link" href="/docker">Docker</a></li>
          <li class="nav-item"><a class="nav-link" href="/python">Python/Flask</a></li>
          <li class="nav-item"><a class="nav-link" href="/cicd">CI/CD</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">Glossary</a></li>
      </ul>
    </header>
    <div class="row">

        <div class="col-8">
            <!-- Instantiation -->
            <h3><strong>Instantiation: </strong></h3>
            <p>To create new instances of objects to be used in a program.</p>
                <a
            href="https://study.com/academy/lesson/what-is-instantiation-in-java-definition-example.html">Reference</a><hr>

            <!-- Object -->
            <h3><strong>Object: </strong></h3>
            <p>An instance of a particular class or subclass with the class's own methods or procedures and data variables.</p>
            <a href="https://www.techtarget.com/searchapparchitecture/definition/object">Reference</a><hr>

            <!-- Class -->
            <h3><strong>Class: </strong></h3>
            <p>A template definition of the methods and variables in a object.</p>
            <a href="https://whatis.techtarget.com/definition/class">Reference</a><hr>

            <!-- Namespace -->
            <h3><strong>Namespace: </strong></h3>
            <p>A dictionary in which the keys are the object names and the values are the objects themselves.</p>
            <a href="https://realpython.com/python-namespaces-scope/#:~:text=the%20next%20level.-,Namespaces%20in%20Python,values%20are%20the%20objects%20themselves.">Reference</a><hr>

            <!-- Constructor -->
            <h3><strong>Constructor: </strong></h3>
            <p>A method that is called when an object is created. This method is defined in the class and can be used to initialize basic variables.</p>
            <a href="https://pythonbasics.org/constructor/">Reference</a><hr>

            <!-- Fixture -->
            <h3><strong>Fixture: </strong></h3>
            <p>Functions that run before each test function. They are used to feed some data to the tests such as database connections.</p>
            <a href="https://www.tutorialspoint.com/pytest/pytest_fixtures.htm">Reference</a><hr>

            <!-- Type Hint -->
            <h3><strong>Type Hint: </strong></h3>
            <p>Help structure your projects better. These type hints help you debug and prevent some mistakes.</p>
            <a href="https://towardsdatascience.com/type-hints-in-python-everything-you-need-to-know-in-5-minutes-24e0bad06d0b">Reference</a><hr>

            <!-- Type Cast -->
            <h3><strong>Type Cast: </strong></h3>
            <p>Method to convert the variable data type into certain data type in order for operation to be perfomed by users.</p>
            <a href="https://www.geeksforgeeks.org/type-casting-in-python-implicit-and-explicit-with-examples/">Reference</a><hr>

            <!-- Unit Test -->
            <h3><strong>Unit Test: </strong></h3>
            <p>Testing of each unit or individual component of the application. First level of functional testing.</p>
            <a href="https://www.javatpoint.com/unit-testing">Reference</a><hr>

            <!-- Static -->
            <h3><strong>Static: </strong></h3>
            <p>When you declare a variable inside a class, but outside the method.</p>
            <a href="https://www.javatpoint.com/static-in-python#:~:text=Python%20Static%20Variable,the%20instances%20of%20a%20class.">Reference</a><hr>

            <!-- Instance Method -->
            <h3><strong>Instance Method: </strong></h3>
            <p>Methods which require an object of its class to be created before it can be called.</p>
            <a href="https://www.geeksforgeeks.org/static-methods-vs-instance-methods-java/#:~:text=Instance%20method%20are%20methods%20which,which%20the%20method%20is%20defined.">Reference</a><hr>

            <!-- Instance Property -->
            <h3><strong>Instance Property: </strong></h3>
            <p>A copy of that property’s value for each instance of the class.</p>
            <a href="https://csharp.2000things.com/2011/03/03/259-static-vs-instance-properties/">Reference</a><hr>

            <!-- Static Method -->
            <h3><strong>Static Method: </strong></h3>
            <p>A method defined as a member of an object but is accessible directly from an API object's constructor, rather than from an object instance created via the constructor.</p>
            <a href="https://developer.mozilla.org/en-US/docs/Glossary/Static_method">Reference</a><hr>

            <!-- Static Property -->
            <h3><strong>Static Property: </strong></h3>
            <p>Properties that have a single value for the entire class, regardless of the number of instances of the class that exist.</p>
            <a href="https://csharp.2000things.com/2011/03/03/259-static-vs-instance-properties/">Reference</a><hr>

            <!-- Encapsulation -->
            <h3><strong>Encapsulation: </strong></h3>
            <p>The packing of data and functions that work on that data within a single object.</p>
            <a href="https://www.pythontutorial.net/python-oop/python-private-attributes/">Reference</a><hr>

            <!-- Inheritance -->
            <h3><strong>Inheritance: </strong></h3>
            <p>To define a class that inherits all the methods and properties from another class.</p>
            <ul>
                <li><strong>Parent Class: </strong>The class being inherited from, also called <strong>base class</strong></li>
                <li><strong>Child Class: </strong>The class that inherits from another class, also called <strong>derived class</strong></li>
            </ul>
            <a href="https://www.w3schools.com/python/python_inheritance.asp">Reference</a><hr>

            <!-- Polymorphism -->
            <h3><strong>Polymorphism: </strong></h3>
            <p>In programming, polymorphism means the same function name (but different signatures) being used for different types.</p>
            <a href="https://www.geeksforgeeks.org/polymorphism-in-python/">Reference</a><hr>

            <!-- Abstraction -->
            <h3><strong>Abstraction: </strong></h3>
            <p>Is used to hide the irrelevant data/class in order to reduce the complexity. It also enhances the application efficiency. </p>
            <a href="https://www.javatpoint.com/abstraction-in-python">Reference</a><hr>












        </div>
        <div class="col">



            <div class="d-flex flex-column align-items-stretch flex-shrink-0" style="width: 380px;">



                <h3>Overview of SOLID</h3><br>
                    <ul>
                        <li><h5>S<font color="white">ingle-Responsibility Principle:</font></h5></li>
                            <ul>
                                <li>Each class is responsible for one thing.</li>
                                <li>If you change anything in that one class, it will effect only one behavior of the software.</li>
                                <li>Makes code more robust because of less side effects</li>
                            </ul>
                        <br><li><h5>O<font color="white">pen-closed Principle:</font></h5></li>
                            <ul>
                                <li>Objects or entities should be open for extension but closed for modification.</li>
                            </ul>
                        <br><li><h5>L<font color="white">iskov Substitution Principle:</font></h5></li>
                            <ul>
                                <li>Objects of subclass <strong>(Child Class)</strong> must behave in the same way as
                                the objects of its superclass <strong>(Parent Class)</strong>.</li>
                            </ul>
                        <br><li><h5>I<font color="white">nterface Segregation Principle:</font></h5></li>
                            <ul>
                                <li>The source code should be modular and every class should contain only the minimum
                                    necessary logic to achieve the desired behavior.</li>
                                <li>Make small and specific interfaces so the client who implements them does not depend
                                    on methods it does not need.</li>
                            </ul>
                        <br><li><h5>D<font color="white">ependency Inversion Principle:</font></h5></li>
                            <ul>
                                <li>Entities must depend on abstractions, not on concretions.</li>
                                <li>The high-level module must not depend on the low-level module, but they should
                                    depend on abstractions.</li>
                            </ul>


                    </ul><hr>

                    <h3>Overview of Design Patterns</h3>
                    <p>Most essential part of Software Engineering. It provides the general repeatable solution to a
                    commonly occuring problem in software design.</p>
                    <br>

                    <ul>
                        <li><strong>Reusability: </strong>By using Inheritance, it helps in making the code reusable
                            and hence we can use them in multiple projects.</li>
                        <br>
                        <li><strong>Transparent: </strong>It improves the transparency of the code for all the
                            developers who are going to use it in future.</li>
                        <br>
                        <li><strong>Established Communication: </strong>Design patterns make communication between
                            designers more efficient.</li>
                        <br>
                        <li><strong>Efficient Development: </strong>Design patterns helps in the development of the highly cohesive modules with minimal coupling.</li>
                    </ul>

  </div>


        </div>
    </div>

</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
</body>
</html>