<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/python.css') }}"/>

        <title>Python/Flask</title>
    {% endblock %}

</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">

        <span class="fs-4">Rahul</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/git">Git</a></li>
          <li class="nav-item"><a class="nav-link" href="/docker">Docker</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">Python/Flask</a></li>
          <li class="nav-item"><a class="nav-link" href="/cicd">CI/CD</a></li>
      </ul>
    </header>
    <div class="row">

        <div class="col-8">
            <h3>Simple Pages</h3>
            <p>
                Creation of <strong>Simple Pages</strong> consists of 5 Pages. These pages are:<br>
                <strong>index.html</strong><br>
                <strong>git.html</strong><br>
                <strong>docker.html</strong><br>
                <strong>python.html</strong><br>
                <strong>cicd.html</strong><br>
                Starting off with <strong>index.html</strong>, this page consists of a source code that extends
                <strong>base.html</strong>. This allows the main web page to be seen on the development/production
                server on Heroku. Index.html has a Z-Layout that consists of a carousel that displays images of the
                technologies I have learned so far. Git.html along with the rest of the web pages consists of an F-Layout.
                Here I have added the navbar to help users easily access different tabs of each web page. On the right side
                of the webpages you will see images which correspond to what technology is going to be talked about. On the
                left side you will see text which identifies and explains what the page will be about.

            </p><hr>
            <h3>Flask Blueprint Documentation</h3>
            <img src="/static/images/Flask_Blueprint.png" class="tests" alt="...">
            <p>Flask Blueprint Documentation helps you organize your files and work within the application making
                your code more maintainable and easier to debug. As shown in the image above, the first two lines are
                importing the libraries to access Flask Blueprints. Line 4 describes what the Blueprints name is
                <strong>(simple_pages)</strong>, where the files for the web pages will be <strong>(templates)</strong>,
                and where the
                static files such
                as JS,CSS, Images will be <strong>(static)</strong>. Line 8-9 makes the bundle of controllers that make
                the correct
                routing between pages located in <strong>(templates)</strong>. Finally, the show function renders the
                template based upon
                the page names located in <strong>(templates)</strong>, if no pages are found that work with the
                function, it will throw
                an exception error. </p>
           <hr> <h3>Testing</h3>
            <h10>Navbar Test used for all pages</h10>
            <img src="/static/images/Navbar_Test.png" class="tests"><br>
            <p>
            This test is used to see if the navbar links are in each of these web pages.
            </p><br>

            <h10>Carousel Button Test for Homepage</h10>
            <img src="/static/images/Carosuel_Button_Test.png" class="tests"><br>
            <p>
                This test is used to see if the carousel contains 4 buttons that represent each web page.
            </p><hr class="hr">

            <h5>Git Page Testing</h5><br>
            <h10>H3 Tag Test for Git Page</h10>
            <img src="/static/images/Git_H3_Test.png" class="tests"><br>
            <p>
                This test is used for Git Page to see if there are 5 Terms shown on the page.
            </p><br>


            <h10>Git Image Test for Git Page</h10>
            <img src="/static/images/Git_Img_Test.png" class="tests"><br>
            <p>
                This test is used for Git Page to see if the right image is posted.
            </p><hr class="hr">

            <h5>Docker Page Testing</h5><br>
            <h10>Steps Test for Docker Page</h10>
            <img src="/static/images/Docker_Steps_Test.png" class="tests"><br>
            <p>
                This test is used for Docker Page to see if the steps are correct and in order.
            </p><br>

            <h10>Column Test for Docker Page</h10>
            <img src="/static/images/Docker_Column_Test.png" class="tests"><br>
            <p>
                This test is used for Docker Page to see if there are 2 columns.
            </p><hr class="hr">

            <h5>Python/Flask Page Testing</h5><br>
            <h10>Simple Pages Content Test for Python/Flask Page</h10>
            <img src="/static/images/Python_Simple_Pages_Test.png" class="tests"><br>
            <p>
                This test is used for Python/Flask Page to see if the content has these links within it.
            </p><br>

            <h10>Image and Link Test for Python/Flask Page</h10>
            <img src="/static/images/Python_Image_Link_Test.png" class="tests"><br>
            <p>
                This test is used for Python/Flask Page to see if the image is correct and the link is valid
            </p><hr class="hr">

            <h5>CI/CD Page Testing</h5><br>
            <h10>Headings Test for each content on CI/CD Page</h10>
            <img src="/static/images/CICD_Heading_Test.png" class="tests"><br>
            <p>
                This test is used for CI/CD Page to see if the three headings are correct.
            </p><br>

            <h10>Color Test for 2 tags on CI/CD Page</h10>
            <img src="/static/images/CICD_Color_Test.png" class="tests"><br>
            <p>
                This test is used for CI/CD Page to see if the font colors match each tag.
            </p><br>






        </div>
        <div class="col">



            <div class="d-flex flex-column align-items-stretch flex-shrink-0" style="width: 380px;">

    <div class="list-group list-group-flush border-bottom scrollarea">

        <a href="https://github.com/rahpat0211/Rahul_Project1">
            <img src="https://www.python.org/static/community_logos/python-logo-master-v3-TM-flattened.png" class="d-block w-100" alt="...">
        </a><br>

        <h10>Click the image above for link to Github repository</h10><br>
        <h10><a href="https://github.com/rahpat0211/Rahul_Project1/blob/master/app/__init__.py" style="color:wheat">Link to Flask</a></h10>

        <hr><h3 style="text-align: center">Outline</h3><br>
            <ul>
                <li>Rahul_Project1 <- <font color="green">Root of the project</font> </li>
                <ul>
                    <li>docker-compose.yml <- <font color="green">Orchestration file that contains the configuration to
                        develop locally, it overrides the Dockerfile to run the flask development server instead of
                        running the gunicorn server that is used for hosting on Heroku</font></li>
                    <li>Dockerfile <- <font color="green">File used to create an image to run in a container that runs
                        the program</font></li>
                    <li>readme.md <- <font color="green">File used to describe the project </font></li>
                    <ul>
                        <li>.github/workflows <- <font color="green">Sub directory of <strong>Rahul_Project1</strong>
                            that is used for development and
                            production workflows.</font> </li>
                        <ul>
                            <li>dev.yml <- <font color="green">Development workflow configuration. Used to send updated
                                and testing files.</font> </li>
                            <li>prod.yml <- <font color="green">Production workflow configuration. Used as the main
                                configuration file for the latest updates.</font> </li>
                        </ul>
                        <li>.app <- <font color="green">Sub directory of <strong>Rahul_Project1</strong> that is used for web pages.</font> </li>
                        <ul>
                            <li>static <- <font color="green">Sub directory of <strong>.app</strong> that holds CSS files,
                                JS files, and images.</font> </li>
                            <ul>
                                <li>images <- <font color="green">Sub directory of <strong>.app</strong>
                                    that holds image files.</font> </li>
                                <li>js <- <font color="green">Sub directory of <strong>.app</strong> that holds JS
                                    files.</font> </li>
                                <li>css <- <font color="green">Subdirectory of <strong>.app</strong>
                                    that holds CSS files</font> </li>
                                <ul>
                                    <li>style.css <- <font color="green">CSS file for index.html</font> </li>
                                    <li>cicd.css <- <font color="green">CSS file for cicd.html</font> </li>
                                    <li>docker.css <- <font color="green">CSS file for docker.html</font> </li>
                                    <li>git.css <- <font color="green">CSS file for git.html</font> </li>
                                    <li>python.css <- <font color="green">CSS file for python.html</font> </li>
                                </ul>
                            </ul>
                            <li>templates <- <font color="green">Sub directory of <strong>.app</strong> that holds
                                base.html</font> </li>
                                <ul>
                                    <li>base.html <- <font color="green">HTML file to create the homepage</font> </li>
                                </ul>
                            <li>simple_pages <- <font color="green">Sub directory of <strong>.app</strong> that holds the
                                web pages and python script to run index page.</font> </li>
                                <ul>
                                    <li>templates <- <font color="green">Sub directory of <strong>simple_pages</strong>
                                        that holds all the web pages</font> </li>
                                        <ul>
                                            <li>index.html <- <font color="green">Index Page</font> </li>
                                            <li>cicd.html <- <font color="green">Continous Integration & Deployment Page</font> </li>
                                            <li>docker.html <- <font color="green">Docker Page</font> </li>
                                            <li>git.html <- <font color="green">Git Page</font> </li>
                                            <li>python.html <- <font color="green">Python/Flask Page</font> </li>
                                        </ul>
                                    <li>_init_.py <- <font color="green">Python script that holds flask blueprint
                                        documentation.</font> </li>
                                </ul>
                        </ul>
                    </ul>
                </ul>
            </ul>










    </div>
  </div>


        </div>
    </div>

</div>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

</body>
</html>